.Photo{
   
    display: flex;
    flex-direction: column;
    background: #101010;
    width: 87%;
    height: 500px;
    position: absolute;
    left: 13.7%;
    color: #fff;
    padding-top: 20px;
    margin-left: 0px;
    
}
.Photo h1{
    margin-left: 400px;
}
h2{
    margin-left: 400px;
}